<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Nalazoo Admin</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">Nalazoo</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
<!--    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">-->
<!--        <div class="input-group">-->
<!--            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />-->
<!--            <div class="input-group-append">-->
<!--                <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="login.html">Logout</a>
            </div>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">new</div>
                    <a class="nav-link" href="/adminboard">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        신규주문
                    </a>
                    <div class="sb-sidenav-menu-heading">menu</div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        주문관리
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/delivery-page">배송중</a>
                            <a class="nav-link" href="/delivery-finish">배송완료</a>
                        </nav>
                    </div>
<!--                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">-->
<!--                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>-->
<!--                        Pages-->
<!--                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                    </a>-->
<!--                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">-->
<!--                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">-->
<!--                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">-->
<!--                                Authentication-->
<!--                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                            </a>-->
<!--                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">-->
<!--                                <nav class="sb-sidenav-menu-nested nav">-->
<!--                                    <a class="nav-link" href="login.html">Login</a>-->
<!--                                    <a class="nav-link" href="register.html">Register</a>-->
<!--                                    <a class="nav-link" href="password.html">Forgot Password</a>-->
<!--                                </nav>-->
<!--                            </div>-->
<!--                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">-->
<!--                                Error-->
<!--                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                            </a>-->
<!--                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">-->
<!--                                <nav class="sb-sidenav-menu-nested nav">-->
<!--                                    <a class="nav-link" href="401.html">401 Page</a>-->
<!--                                    <a class="nav-link" href="404.html">404 Page</a>-->
<!--                                    <a class="nav-link" href="500.html">500 Page</a>-->
<!--                                </nav>-->
<!--                            </div>-->
<!--                        </nav>-->
<!--                    </div>-->
<!--                    <div class="sb-sidenav-menu-heading">Addons</div>-->
<!--                    <a class="nav-link" href="charts.html">-->
<!--                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>-->
<!--                        Charts-->
<!--                    </a>-->
<!--                    <a class="nav-link" href="tables.html">-->
<!--                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>-->
<!--                        Tables-->
<!--                    </a>-->
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Nalazoo Admin
            </div>
        </nav>
    </div>


    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
<!--                <h1 class="mt-4">Tables</h1>-->
<!--                <ol class="breadcrumb mb-4">-->
<!--                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>-->
<!--                    <li class="breadcrumb-item active">Tables</li>-->
<!--                </ol>-->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">배송중</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">발송 완료</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        주문현황
                    </div>


                    <!--form-->
                    <form role="form" id="go-detail" action="/detail_board" method="post" autocomplete="on">
                        <!--임시 저장소-->
                        <input type="hidden"  name="myValue" id="myValue" value=""/>
                    </form>

                    <form role="form" id="go-paging" method="post" autocomplete="on">
                        <input type="hidden" name="pageValue" id="pageValue" value=""/>
                    </form>



                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>주문번호</th>
                                    <th>주문일시</th>
                                    <th>주문상태</th>
                                    <th>상품번호</th>
                                    <th>상품명</th>
                                    <th>옵션</th>
                                    <th>수량</th>
                                    <th>구매자명</th>
                                    <th>수취인명</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>주문번호</th>
                                    <th>주문일시</th>
                                    <th>주문상태</th>
                                    <th>상품번호</th>
                                    <th>상품명</th>
                                    <th>옵션</th>
                                    <th>수량</th>
                                    <th>구매자명</th>
                                    <th>수취인명</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <% if (!snapshot.empty) {%>
                                    <% snapshot.forEach( doc =>{ %>
                                        <!--데이터 반복시작-->
                                    <tr>
                                        <td type="text" >
                                            <a href="#" onclick="sendDetailBoard('<%= doc.id %>');"> <%= doc.data().orderNumber %>  </a> </td>
                                        <td> <%= doc.data().oderDate %></td>
                                        <td> <%= doc.data().productNumber %></td>
                                        <td> <%= doc.data().productName %></td>
                                        <% if( doc.data().orderStatus == '0') { %>
                                            <td> "새주문"</td>
                                        <% } else if (doc.data().ordeerStatus == '1') { %>
                                            <td> "발송중" </td>
                                        <% } %>
                                        <td> <%= doc.data().option %></td>
                                        <td> <%= doc.data().amount %></td>
                                        <td> <%= doc.data().oderer %></td>
                                        <td> <%= doc.data().receiver %></td>
                                        <% }); %>
                                    </tr>
                                <%} else {%>
                                    <tr>
                                        <td colspan="9" type="text">조희 가능한 새로운 주문이 없습니다</td>
                                    </tr>
                                <% }  %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
<!--        <footer class="py-4 bg-light mt-auto">-->
<!--            <div class="container-fluid">-->
<!--                <div class="d-flex align-items-center justify-content-between small">-->
<!--                    <div class="text-muted">Copyright &copy; Your Website 2020</div>-->
<!--                    <div>-->
<!--                        <a href="#">Privacy Policy</a>-->
<!--                        &middot;-->
<!--                        <a href="#">Terms &amp; Conditions</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </footer>-->
    </div>
</div>
<script>



    function page() {

        alert("하이");
        alert(document.getElementById('holdId').value);

        var setValue = document.getElementById('pageValue');
        setValue.value = document.getElementById('holdId').value;
        var form = document.getElementById('go-paging');

        form.action = '/pageCount'
        form.method = "POST";
        form.submit();
    }

    function movePageMain() {
        location.href='/adminboard';
    }



    function sendDetailBoard(id) {

        alert("hi :" + id);

        var form = document.getElementById('go-detail'); // form 객체 가져옴
        var setValue = document.getElementById("myValue"); // input 객체 가져옴
        setValue.value = id; // input value 에 id 값 설정

        form.action = "/detail_board";
        form.method =  "POST";
        form.submit();

        // form.addEventListener("submit", function (event) {
        //     if(setValue.length === 0){
        //         alert('Name 필드의 값이 누락 되었습니다'); event.preventDefault();
        //     } else {
        //
        //     }
        // });
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/datatables-demo.js"></script>
</body>
</html>
